@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 220 100% 98%;
    --foreground: 210 11% 15%;
 
    --muted: 223 15% 91%;
    --muted-foreground: 208 7% 46%;
 
    --popover: 220 100% 98%;
    --popover-foreground: 210 11% 15%;
 
    --card: 0 0% 100%;
    --card-foreground: 210 11% 15%;
 
    --border: 210 14% 83%;
    --input: 214.3 31.8% 91.4%;
 
    --primary: 247 100% 66%;
    --primary-foreground: 0 0% 100%;
 
    --secondary: 220 100% 95%;
    --secondary-foreground: 210 11% 15%;
 
    --accent: 349 100% 74%;
    --accent-foreground: 0 0% 100%;
 
    --destructive:  0 100% 68%;
    --destructive-foreground: 0 0% 100%;
    
    --success: 165 100% 39%;
    --success-foreground: 0 0% 100%;

    --info: 202 71% 52%;
    --info-foreground: 0 0% 100%;

    --warning: 45 100% 51%;
    --warning-foreground: 210 11% 15%;
 
    --ring: 215 20.2% 65.1%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 210 11% 15%;
    --foreground: 220 100% 98%;
 
    --muted: 227 10% 27%;
    --muted-foreground: 210 11% 71%;
 
    --popover: 222 11% 18%;
    --popover-foreground: 220 100% 98%;
 
    --card: 222 11% 18%;
    --card-foreground: 220 100% 98%;
 
    --border: 220 6% 23%;
    --input: 0 0% 23%;
 
    --primary: 247 100% 72%;
    --primary-foreground: 0 0% 100%;

    --secondary: 210 11% 20%;
    --secondary-foreground: 220 100% 92%;
 
    --accent: 351 100% 71%;
    --accent-foreground: 0 0% 100%;
 
    --destructive: 359 100% 62%;
    --destructive-foreground: 0 0% 100%;
    
    --success: 165 66% 55%;
    --success-foreground: 0 0% 100%;

    --info: 210 100% 56%;
    --info-foreground: 0 0% 100%;

    --warning: 36 100% 55%;
    --warning-foreground: 220 100% 98%;
 
    --ring: 215 20% 45%;
 
    --radius: 0.5rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1 "calt" 1;
  }
}

@layer utilities {
    .break-word {
      word-break: break-word;
    }
  }